<div class="time-to-date ">
  <div class="date">
    <div class="date__item" data-time-units="days">
      <div class="date__count">00</div>
      <div class="date__label">Дней</div>
    </div>
    <div class="date__item" data-time-units="hours">
      <div class="date__count">00</div>
      <div class="date__label">часов</div>
    </div>
    <div class="date__item" data-time-units="minutes">
      <div class="date__count">00</div>
      <div class="date__label">Минут</div>
    </div>
    <div class="date__item" data-time-units="seconds">
      <div class="date__count">00</div>
      <div class="date__label">Секунд</div>
    </div>
  </div>
</div>