<section class="info">
  <div class="container">
    <h2 class="info__title">О мероприятии</h2>
    <div class="info__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    <div class="info__items">
      <div class="info__item">
        <div class="card">
          <div class="card__img">
            <img src="../../images/info-card-coin-1.jpg" alt="">
          </div>
          <div class="card__title">Новосибирск</div>
          <div class="card__text">Ул. Семьи Шамшиных, 45Б, офис 230, начало квеста. О дальнейших локациях вам сообщат ведущие.</div>
        </div>
      </div>
      <div class="info__item">
        <div class="card">
          <div class="card__img">
            <img src="../../images/info-card-tiсket.jpg" alt="">
          </div>
          <div class="card__title">150 мест</div>
          <div class="card__text">Успейте записаться и попасть на событие! Сейчас уже записалось 120 человек!</div>
        </div>
      </div>
      <div class="info__item">
        <div class="card">
          <div class="card__img">
            <img src="../../images/info-card-gift.jpg" alt="">
          </div>
          <div class="card__title">28-29 декабря</div>
          <div class="card__text">Начало в 10:00 28 декабря, необходимо тепло одеться и запастись термосом. Еда и сладости будут на месте. </div>
        </div>
      </div>
    </div>
  </div>
</section>