<section class="section-preview">
  <div class="container">
    <div class="section-preview__content">
      <h1 class="section-preview__title">Новогодний квест</h1>
      <div class="section-preview__description">Мечтаете наполнить волшебством новогодний праздник? Хотите надолго запомнить новогодние праздники? Тогда вы нашли то, что искали! Превратите простые выходные в увлекательный квест! Вам предстоит выполнить задания, расшифровать подсказки и восстановить карту, которая подскажет правильный путь. Регистрируйтесь на мероприятие!</div>
      <a href="#" class="btn">Зарегистрироваться</a>
    </div>
  </div>
</section>