<section class="promotion">
  <div class="container">
    <div class="promotion__content">
      <h2 class="promotion__title">Прими участие в акции!</h2>
      <p class="promotion__text">Оригинальный метод обучения и конкретное занятие по совершенствованию практического мастерства, проводимое специалистом в определённой области творческой деятельности для лиц, достигших достаточного уровня профессионализма в этой сфере деятельности.</p>
      <div class="promotion__timer">
        @@include('../time-to-date/time-to-date.html')
      </div>
      <a href="#" class="btn btn--blue">Хочу учавствовать</a>
    </div>
  </div>
</section>